.footer {
  align-items: center;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  padding: 1rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}